body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

p {
    color: slategrey;
}

.top-banner {
    background-image: url(images/flooted-relief-1.jpg);
    background-repeat: no-repeat;
    color: white;
    padding: 8%;
}

.donate-button {
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 10px;

}

.section {
    background-size: cover;
}

.display-flex {
    display: flex;
}

.amount {
    color: slategrey;
    padding: 2%;
    margin: 2%;
}

#select {
    border: 5px solid orangered;
}

.for-people {
    padding: 3%;
    margin: 4%;
}

#food {
    background-color: aliceblue;
}

#shelter {
    background-color: aliceblue;
}

#education {
    background-color: azure;
}







footer {
    background-color: black;
    padding: 2%;
}

.footer-color {
    color: orangered;
}